/*! coreTheme.css */
:root {
  /* sets scroll bar colors */
  color-scheme: light;

  /* Warning: this is included on every page. Lets try to shrink it! */
  /* Theme variables are loosely based on Material Design, so you can migrate to that easily */
  /* https://material.io/design/material-theming/implementing-your-theme.html  */
  /* Typography https://medium.com/swlh/everything-you-need-to-know-about-designing-for-web-typography-69cec6ca8230 */
  /* CSS Acceleration https://medium.com/outsystems-experts/mobile-web-applications-top-css-techniques-for-optimal-performance-b66e3111c733 */

  /* screen width breakpoints, material ui standard */
  /* NOTE: using vars in the media selector widths does not work */
  /* smaller than this: no logo icon */
  --media-width-xs: 320px; /* smallest smart phone is 320 wide, galaxy fold is 280, logoicon, 2 icons, xsmall logo */
  --media-width-sm: 360px; /* iphone 6/7/8 = 375, pixel 2 is 411 wide, 2 icons */
  --media-width-sm2: 540px; /* surface duo = 540, room for 4 icons */
  --media-width-tablet: 700px; /* iPad 1 = 768, pixel 5 landscape = 851*/
  --media-width-md: 960px;
  --media-width-laptop: 1366px; /* HD Laptop 768p, iPad Pro 12 Landscape = max 1366 */
  --media-width-lg: 1280px; /* aka "desktop" */
  --media-width-xl: 1600px; /* Vice max width */
  --media-width-xxl: 1920px; /* 1080p display, Full HD */

  /* heights are based on screen width, sm = media-width-sm */
  --header-height-tiny: 32px;
  --header-height-mobile: 48px;
  --header-height-tablet: 64px;

  --toolbar-min-height-width-lt-sm-landscape: 48px;
  --toolbar-min-height-width-lt-sm: 56px;
  --toolbar-min-height-widht-gte-sm: 64px;

  /* PALLETTE, COLOR THEMING */
  /* https://material.io/develop/web/theming/color , */
  /* values from https://material-ui.com/customization/default-theme/?expand-path=$.typography */
  /* this are the colors for the ---light theme--- */
  /* what about "color-on" for secondary, hint, disabled, icon text? */

  --color-common-black: #000;
  --color-common-white: #fff;

  --color-primary-light: #7986cb;
  --color-primary-main: #6772ac;
  --color-primary-dark: #474f77;
  --color-primary-text: #fff; /* aka contrastText, color-on-primary */

  --color-secondary-light: #ff4081;
  --color-secondary-main: #f50057;
  --color-secondary-dark: #c51162;
  --color-secondary-text: #fff;

  --color-error-light: #e57373;
  --color-error-main: #f44336;
  --color-error-dark: #d32f2f;
  --color-error-text: #fff;

  --color-warning-light: #ffb74d;
  --color-warning-main: #ff9800;
  --color-warning-dark: #f57c00;
  --color-warning-text: rgba(0, 0, 0, 0.87);

  --color-info-light: #64b5f6;
  --color-info-main: #2196f3;
  --color-info-dark: #1976d2;
  --color-info-text: #fff;

  --color-success-light: #81c784;
  --color-success-main: #4caf50;
  --color-success-dark: #388e3c;
  --color-success-text: rgba(0, 0, 0, 0.87);

  --color-grey-50: #fafafa;
  --color-grey-100: #f5f5f5;
  --color-grey-200: #eeeeee;
  --color-grey-300: #e0e0e0;
  --color-grey-400: #bdbdbd;
  --color-grey-500: #9e9e9e;
  --color-grey-600: #757575;
  --color-grey-700: #616161;
  --color-grey-800: #424242;
  --color-grey-900: #212121;
  --color-grey-A100: #d5d5d5;
  --color-grey-A200: #aaaaaa;
  --color-grey-A400: #303030;
  --color-grey-A700: #616161;

  /* edpike365: some material ui naming conventions here are not intuitive */
  --color-text-primary: rgba(0, 0, 0, 0.87); /* use on default bg */
  --color-text-secondary: rgba(0, 0, 0, 0.54); /* use on paper bg */
  --color-text-secondary2: rgba(255, 255, 255, 0.7);
  --color-text-disabled: rgba(0, 0, 0, 0.38);
  --color-text-hint: rgba(0, 0, 0, 0.38);

  --color-divider: rgba(0, 0, 0, 0.12);

  --color-background-body: black; /* This is what appears around the border of the app, you should only see this at large screen sizes */
  --color-background-default: #fafafa; /* aka color-background, should be darker than surface/paper */
  --color-background-paper: #fff; /* aka color-surface/paper */

  --scrollbarTrackBG: #fafafa;
  --scrollbarThumbBG: #bdbdbd;
  --scrollbarThumbBorder: lightgrey;

  /* these are alpha channel effects applied to objects based on actions */
  --palette-action-active: rgba(0, 0, 0, 0.54);
  --palette-action-hover: rgba(0, 0, 0, 0.04);
  --palette-action-hover-opacity: 0.08;
  --palette-action-selected: rgba(0, 0, 0, 0.08);
  --palette-action-selected-opacity: 0.08;
  --palette-action-disabled: rgba(0, 0, 0, 0.26);
  --palette-action-disabled-background: rgba(0, 0, 0, 0.12);
  --palette-action-disabled-opacity: 0.38;
  --palette-action-focus: rgba(0, 0, 0, 0.12);
  --palette-action-focus-opacity: 0.12;
  --palette-action-activated-opacity: 0.12;

  /* TYPOGRAPHY */
  /* material ui explorer https://material-ui.com/customization/default-theme/?expand-path=$.typography */
  /* https://material.io/develop/web/guides/typography */

  --old-font-family-default: "Segoe UI", "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-default: "Helvetica Neue World", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  --font-family-dek: "Helvetica Neue World", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-family-accent: "Source Code Pro", Monaco, monospace;
  --font-family-body: Lora, Georgia, serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* "rem" is relative to root html font-size-default, browser industry default is 16px. 
     Thats not really big enough, especially for my blog focused site, so
     I'm upping it to 18px. Mat UI puts it down at 14px, I believe, good for dashboards.
     I'm using major 3rd scaling, from https://type-scale.com/
     I changed the names of the 9 default scales from material ui's because these are more common sense.
     You can always view a heading, etc, to get a relative idea of font settings.
     */
  --font-size-default: 18px; /* aka html font size, bumped up from normal 16px */

  --font-size-h1: 3.052rem; /* MatUI has this as 6rem, for h1, thats too big */
  --font-size-h2: 2.441rem;
  --font-size-h3: 1.953rem;
  --font-size-h4: 1.563rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1rem;
  --font-size-body1-subtitle1: 1rem; /* subtitle 1, body 1, 1x html font  */
  --font-size-body2-subtitle2-button-smaller: 0.875rem; /* subtitle 2, body 2, button */
  --font-size-caption-overline: 0.75rem; /* caption and overline */

  /* Line Height 
      These sizings were based on material UI settings 
      They are more of them than font sizes because some font sizes are shared.
    */
  --font-line-height-h1: 1.167;
  --font-line-height-h2: 1.2;
  --font-line-height-h3: 1.167; /* seems like typo */
  --font-line-height-h4: 1.235;
  --font-line-height-h5: 1.334;
  --font-line-height-h6: 1.6;

  --font-line-height-subtitle1: 1.75;
  --font-line-height-body1: 1.5;

  --font-line-height-subtitle2: 1.57;
  --font-line-height-body2: 1.43;

  --font-line-height-button: 1.75;
  --font-line-height-caption: 1.66;
  --font-line-height-overline: 2.66;

  /* Letter Spacing */
  --font-letter-spacing-h1: -0.01562em;
  --font-letter-spacing-h2: -0.00833em;
  --font-letter-spacing-h3: 0em;
  --font-letter-spacing-h4: 0.00735em;
  --font-letter-spacing-h5: 0em;
  --font-letter-spacing-h6: 0.0075em;

  --font-letter-spacing-subtitle1: 0.00938em;
  --font-letter-spacing-body1: 0.00938em;

  --font-letter-spacing-subtitle2: 0.00714em;
  --font-letter-spacing-body2: 0.01071em;

  --font-letter-spacing-button: 0.02857em;
  --font-letter-spacing-caption: 0.03333em;
  --font-letter-spacing-overline: 0.08333em;

  /* SHAPES */
  --shape-border-radius: 4px;
  --shape-border: 1px solid var(--color-divider);
  --shape-box-shadow: rgb(0 0 0 / 12%) 0px 1px 2px, rgb(0 0 0 / 5%) 0px 0px 1px;

  /* TRANSITIONS */
  /* easing */
  --easing-ease-in-out: "cubic-bezier(0.4, 0, 0.2, 1)";
  --easing-ease-out: "cubic-bezier(0.0, 0, 0.2, 1)";
  --easing-ease-in: "cubic-bezier(0.4, 0, 1, 1)";
  --easing-sharp: "cubic-bezier(0.4, 0, 0.6, 1)";
  /* transition variable dont seem to work (media queries dont either)*/
  --transition-default-all: "all 220ms ease-in-out";
  --transition-color-bgcolor: "color 400ms ease-in-out, background-color 400ms ease-in-out";

  /* duration */
  --duration-shortest: 150;
  --duration-shorter: 200;
  --duration-short: 250;
  --duration-standard: 300;
  --duration-complex: 375;
  --duration-entering-screen: 225;
  --duration-leaving-screen: 195;

  /* ZINDEX, lowest to highest */
  --zindex-mobile-stepper: 1000;
  --zindex-speed-dial: 1050;
  --zindex-app-bar: 1100;
  --zindex-drawer: 1200;
  --zindex-modal: 1300;
  --zindex-snackbar: 1400;
  --zindex-tooltip: 1500;

  /* FORMATTING defaults */
  --p-text-indent: 50px; /* first line indent in a paragraph */
  --a-link-color-unvisited: blue;
  --a-link-color-visited: blue;
  --a-link-color-hover: lightblue;
  --a-link-active: lightblue;

  --border-spacing: 8px;

  --margin-top-bottom: 0px;
  --margin-right-left: 0px;

  --padding-top-bottom: 10px;
  --padding-right-left: 10px;

  scrollbar-width: thin;
  scrollbar-color: var(--scrollbarThumbBG) var(--scrollbarTrackBG);
}

::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbarTrackBG);
}
::-webkit-scrollbar-thumb {
  height: 2rem;
  background-color: var(--scrollbarThumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarThumbBorder);
}

/* HTML elements, most settings should be inside the components but refer to root vars */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color 400ms ease-in-out, background-color 400ms ease-in-out;
  /* let user agent dictate the default font size. May change with REM with media queries */
}

/* media queries */
/* "mobile first" defaults */
/* tablet-ish */
@media only screen and (min-width: 640px) {
  body {
    font-size: 1rem;
  }
}

/* desktop */
@media only screen and (min-width: 1280px) {
  body {
    font-size: 1rem;
  }
}

body {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-regular);

  line-height: var(--font-line-height-body1);
  letter-spacing: var(--font-letter-spacing-body1);

  background-color: var(--color-background-body);
  /* dont confuse with color-primary-text, which is associated with branding */
  color: var(--color-text-primary);

  word-wrap: break-word;
  font-kerning: normal;
}

hr {
  background: var(--color-divider);
  height: 2px;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 0.5em;
  margin-left: 0em;
}

/* Headings: default font weights get heavier for smaller headings */
h1 {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-h1);
  line-height: var(--font-line-height-h1);
  letter-spacing: var(--font-letter-spacing-h1);
}

h2 {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-h2);
  line-height: var(--font-line-height-h2);
  letter-spacing: var(--font-letter-spacing-h2);
}

h3 {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-h3);
  line-height: var(--font-line-height-h3);
  letter-spacing: var(--font-letter-spacing-h3);
}

h4 {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-h4);
  line-height: var(--font-line-height-h4);
  letter-spacing: var(--font-letter-spacing-h4);
}

h5 {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-h5);
  line-height: var(--font-line-height-h5);
  letter-spacing: var(--font-letter-spacing-h5);
}

h6 {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-h6);
  font-size: var(--font-size-h6);
  line-height: var(--font-line-height-h6);
  letter-spacing: var(--font-letter-spacing-h6);
}

/* subtitles are smaller than headlines, plain, but same size as body fonts */
.subtitle1 {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body1-subtitle1);
  line-height: var(--font-line-height-subtitle1);
  letter-spacing: var(--font-letter-spacing-subtitle1);
}

.subtitle2 {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-body2-subtitle2-button-smaller);
  line-height: var(--font-line-height-subtitle2);
  letter-spacing: var(--font-letter-spacing-subtitle2);
}

/* body1 class setting are applied to body up top */

/* For bigger text blocks. sans serif */
.body2 {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body2-subtitle2-button-smaller);
  line-height: var(--font-line-height-body2);
  letter-spacing: var(--font-letter-spacing-body2);
}

/* Text on buttons. Call to action. Sans. typically ALL CAPS, plain */
.button-text {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-body2-subtitle2-button-smaller);
  line-height: var(--font-line-height-button);
  letter-spacing: var(--font-letter-spacing-buton);
  text-transform: uppercase;
}

/* Smallest text, use for notes below a picture or form field */
.caption {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-caption-overline);
  line-height: var(--font-line-height-caption);
  letter-spacing: var(--font-letter-spacing-caption);
}

/* Small text with a line or image above it, also for stringer, bold but simple, ALL CAPS */
.overline {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-caption-overline);
  line-height: var(--font-line-height-overline);
  letter-spacing: var(--font-letter-spacing-overline);
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
}

blockquote {
  color: var(--color-text-primary);
  margin: var(--margin-right-left);
  padding: 0.25rem 1rem 1rem 0.5rem;
  border-left: 0.25rem solid var(--color-primary-light);
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 1rem;
}

blockquote > :last-child {
  margin-bottom: 0;
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: 2rem;
  border: 1px solid var(--color-grey-500);
  border-collapse: collapse;
  border-spacing: 0.25rem;
  box-shadow: var(--shape-box-shadow);
}

tbody tr:nth-of-type(odd) {
  background: var(--color-grey-200);
}

tr:hover {
  background: var(--palette-action-hover);
}

table thead tr th {
  border-bottom: 2px solid var(--color-grey-500);
}

/* Link */

a {
  color: var(--color-primary-main);
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Custom classes */
/* ideally these should all be in components */

.gatsby-highlight {
  margin-bottom: 2rem;
}

/* used by gatsby-remark-prismjs for highlighting, modified for Okaidia PrismJS theme */
.gatsby-highlight-code-line {
  background-color: #474643;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #569c3b;
}
/* If using PrismJS line numbering and highlighing, push the code to the right */
.gatsby-highlight pre[class*="language-"].line-numbers {
  padding-top: 0;
  padding-left: 2.8em;
}
/* Assumes standard PrismJS CSS */
.gatsby-code-title {
  margin-bottom: -0.6rem;
  padding: 0.5em 1em;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;

  background-color: #5e5b24;
  color: white;
  z-index: 0;

  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
