/*! fireTheme.css */
:root {

  --color-theme-name: "Fire";

  --color-primary-light: yellow;
  --color-primary-main: orange;
  --color-primary-dark: red;
  --color-primary-text: #fff;

  --color-text-primary: rgba(255, 255, 255, 0.7); /* use on default bg */
  --color-text-secondary: rgba(255, 255, 255, 0.9); /* use on paper bg */
  --color-text-disabled: rgba(255, 255, 255, 0.05);
  --color-text-hint: rgba(255, 255, 255, 0.5);

  --color-divider: rgba(255, 255, 255, 0.12);

  /* these colors were inspired by gmail dark mode */
  --color-background-default: #030303; /* aka color-background, the far background */
  --color-background-paper: #111111; /* aka color-surface, as in components */
  --color-foreground: #303030; /* flyouts, popups */

  --scrollbarTrackBG: rgb(65, 11, 20);
  --scrollbarThumbBG: orange;
  --scrollbarThumbBorder: yellow;

  /* these are affects applied, mainly alpha channel, to objects based on actions */
  --palette-action-active: #fff;
  --palette-action-hover: rgba(255, 255, 255, 0.08);
  --palette-action-hover-opacity: 0.08;
  --palette-action-selected: rgba(255, 255, 255, 0.16);
  --palette-action-selected-opacity: 0.16;
  --palette-action-disabled: rgba(255, 255, 255, 0.3);
  --palette-action-disabled-background: rgba(255, 255, 255, 0.12);
  --palette-action-disabled-opacity: 0.38;
  --palette-action-focus: rgba(255, 255, 255, 0.12);
  --palette-action-focus-opacity: 0.12;
  --palette-action-activated-opacity: 0.24;

}

tbody tr:nth-of-type(odd) {
  background: #c97c083d;
}



