/* https://blog.hubspot.com/website/css-hover-animation */
@keyframes spinBothAxesKeyframes {
  0% {
  }
  100% {
    -ms-transform: rotateY(359deg); /* IE 9 */
    -webkit-transform: rotateY(359deg); /* Chrome, Safari, Opera */
    transform: rotateY(359deg) rotate(359deg);
  }
}

.infiniteSpinAnimation {
  animation: spinBothAxesKeyframes 2s ease-in-out 0s infinite normal none;

  /* about is shorthand for:
  animation-name: infiniteSpinKeyframes;  
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  */
}

.logoIconDivCSS {
  box-sizing: border-box;

  vertical-align: middle;

  /* Make color transitions smooth */
  & > svg {
    transition: fill 400ms ease-in-out, stroke 400ms ease-in-out;
  }

  &:hover {
    animation: spinBothAxesKeyframes 2s ease-in-out 0s infinite normal none;
  }

  /* ---- DEFAULT (tiny): Small Narrow Phones (280 x 653) ---- */
  /* No Logo Icon visible */
  display: none;
  /* Aria could still see it so I had to add visibility: hidden */
  visibility: hidden;

  /* ---- Normal Phones: Show Logo (320 x ) ---- */
  /* Display the LogoIcon */
  @media only screen and (min-width: 320px) {
    box-sizing: border-box;
    display: inline;
    visibility: visible;
    align-items: center;
    padding: 0px 1px 0px 1px;
    margin: 0px;
    height: 100%;
  }

  /* ---- Larger Phones (540 x ) ---- */
  @media only screen and (min-width: 540px) {
  }

  /* ---- Tablet (700 x ) ---- */
  /* Tablet header height : 64px */
  @media only screen and (min-width: 700px) {
    /* height: 58px; */
    width: 58px;
  }

  /* ---- LapTop (1366 x ) ---- */
  @media only screen and (min-width: 1366px) {
  }
}

.logoIconLinkCSS {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--color-primary-main);
  text-decoration: none;
}
